.nas {
  background-image: url("../../assets/img/nas.png");
  background-size: cover;
}

.invest {
  background-image: url("../../assets/img/invest.png");
  background-size: cover;
  background-size: 520px 100px;
}

.careeng {
  background-image: url("../../assets/img/careng.png");
  background-size: cover;
}

.welcomeheader {
  text-align: center;
  color: rgb(255,255,255);
  text-shadow: 0px 0px 5px rgb(0,0,0);
  font-family: Poppins, sans-serif;
}

.gifsep {
  background-image: url("../../assets/img/unified-hero.gif");
}

@keyframes hero-btm {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}

.abt-us {
}

@media (min-width: 576px) {
  .abt-title {
    font-family: 'Cinzel Decorative', serif;
    font-size: 72px;
    text-align: center;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 6px;
  }
}

.title-div {
  border-bottom-style: solid;
}

@media (min-width: 576px) {
  .title-div {
    background: url("../../assets/img/aboutus.webp") center / cover no-repeat;
    height: 500px;
    text-align: center;
    box-shadow: 8px 11px 7px rgb(77,99,29);
  }
}

@media (min-width: 576px) {
  .title-div {
    background: url("../../assets/img/aboutus.webp") center / cover no-repeat;
    height: 500px;
    text-align: center;
    box-shadow: 8px 11px 7px rgb(77,99,29);
  }
}

@media (min-width: 576px) {
  .title-div {
    background: url("../../assets/img/aboutus.webp") center / cover no-repeat;
    height: 500px;
    text-align: center;
    box-shadow: 8px 11px 7px rgb(77,99,29);
  }
}

@media only screen and (max-width: 435px) {
  .title-div {
    background: url("../../assets/img/aboutus.webp") center / cover no-repeat;
    height: 309px;
    background-size: 420px 250px;
    background-position: center 60px;
    text-align: center;
    box-shadow: 8px 11px 7px rgb(77,99,29);
  }
}

@media only screen and (max-width: 435px) {
  .abt-title {
    font-family: 'Cinzel Decorative', serif;
    font-size: 42px;
    text-align: center;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    padding-top: 1px;
    padding-right: 6px;
    padding-left: 6px;
  }
}

.rdmorep {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #000000;
}

.rdmorebutton {
  color: #8b3857;
}

.hol-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/holbanner.jpg") center / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.abtushero {
  font-size: 2rem;
  font-family: 'Baloo Da 2', serif;
  padding-top: 10px;
}

.why-span {
  font-family: 'Source Sans Pro';
  background: rgba(255,255,255,0);
  font-size: 4rem;
  text-shadow: 0px 4px 6px rgb(0,0,0);
}

@media only screen and (max-width: 435px) {
  .abtushero {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 435px) {
  .why-span {
    font-size: 40px;
  }
}

html, body {
  overflow-x: hidden;
}

.resc-title {
  font-family: 'Source Sans Pro';
  background: rgba(255,255,255,0);
  font-size: 4rem;
  text-shadow: 0px 4px 6px rgb(0,0,0);
}

@media only screen and (max-width: 435px) {
  .resc-title {
    font-size: 3rem;
  }
}

#rec-sup {
  background: #548e74;
  color: rgb(255,255,255);
  font-family: Poppins, sans-serif;
  padding: 7px 16px;
  padding-right: 46px;
  padding-left: 46px;
}

#rec-sup:hover {
  background: #76ba9e;
  color: #000000;
}

#make-ref:hover {
  background: #b46c8d;
  color: rgb(14,14,14);
}

#make-ref {
  background: #563343;
  color: rgb(255,255,255);
  font-family: Poppins, sans-serif;
  padding: 7px 16px;
  padding-right: 46px;
  padding-left: 46px;
}

#supliv:hover {
  background-color: #e67aab;
  color: #000000;
}

#supliv {
  background: #563343;
  font-family: Poppins, sans-serif;
  color: rgb(255,255,255);
  padding-right: 30px;
  padding-left: 30px;
}

#rescare:hover {
  background: #7adcb0;
  color: rgb(0,0,0);
}

#rescare {
  background: #548e74;
  font-family: Poppins, sans-serif;
  color: rgb(255,255,255);
  padding-right: 30px;
  padding-left: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero-container {
  margin-bottom: 15px;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#abtushdr {
}

.quote-main {
  font-family: 'Baloo Da 2';
}

rdmoreq {
}

.page-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/aboutus.webp") center / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.why-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/PHOTO-2024-03-14-17-34-43.jpg") center 40% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.val-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/valtitle.webp") center / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.ppl-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/hero-header3.webp") center / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.qty-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/quality.webp") center / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.sup-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/aboutus.webp") center / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.healthy-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/healthybanner.webp") center 70% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.exerc-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/exercisebanner.jpg") center 10% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.res-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/8ee3e9f5-a39c-4edb-abe4-a4bc30b4d152.jpg") center 30% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.aut-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/valtitle.webp") center / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.ld-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/ldtitle.webp") center 35% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
  font-size: 5rem;
}

.mh-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/mhtitle.jpg") center 55% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
  font-size: 5rem;
}

@media only screen and (max-width: 435px) {
  .mh-title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 435px) {
  .ld-title {
    font-size: 3rem;
  }
}

.hobb-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/hobbanner.webp") center 40% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.comm-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/communitybanner.jpg") center 45% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.training-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/worktraining.webp") center 60% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.cul-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/culbanner.jpg") center 45% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.recr-title {
  background: linear-gradient(rgba(86,51,65,0.42) 0%, rgba(86,51,65,0.37) 99%), url("../../assets/img/rec.webp") center 60% / cover;
  filter: grayscale(0%) saturate(100%) sepia(0%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.brochure {
  background: #548e74;
  color: rgb(255,255,255);
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.brochure:hover {
  background-color: #406c58;
  color: #ffffff;
}

#carousel-1 img {
  height: 800px;
  object-fit: cover;
}

@media only screen and (max-width: 435px) {
  #carousel-1 img {
    height: 400px;
    object-fit: cover;
  }
}

#respitecare {
  font-family: 'Source Sans Pro', sans-serif;
  background: #e28c04;
  color: rgb(255,255,255);
  padding-right: 45px;
  padding-left: 45px;
}

#respitecare:hover {
  background: #eab765;
  color: rgb(0,0,0);
}

.grnbtn {
  background: #548e74;
  color: rgb(255,255,255);
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}

.grnbtn:hover {
  background: #a5ffd6;
  color: rgb(0,0,0);
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}

.prplbtn {
  background: rgb(86,51,67);
  color: rgb(255,255,255);
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}

.prplbtn:hover {
  background: rgb(218,126,168);
  color: rgb(0,0,0);
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}

.blbtn {
  background: #027bff;
  color: rgb(255,255,255);
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}

.blbtn {
  background: #027bff;
  color: rgb(255,255,255);
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}

.blbtn:hover {
  background: #9bcbff;
  color: rgb(0,0,0);
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}

.orbtn {
  background: #e28c05;
  color: rgb(255,255,255);
  font-family: 'Source Sans Pro', sans-serif;
  padding-right: 27px;
  padding-left: 27px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.orbtn:hover {
  background: #ffd492;
  color: rgb(0,0,0);
  font-family: 'Source Sans Pro', sans-serif;
  padding-right: 27px;
  padding-left: 27px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#whatsapp:hover {
  filter: brightness(43%) hue-rotate(0deg);
}

.ra1btn {
  background: #41a4d8;
  color: #ffffff;
}

.ra1btn:hover {
  background: #81bad7;
}

.ra2btn {
  background: #d09e00;
  color: #ffffff;
}

.ra2btn:hover {
  background: #ffe79c;
  color: #000000;
}

.ra3btn {
  background: #F0637B;
  color: #ffffff;
}

.ra3btn:hover {
  background: #f196a6;
  color: #000000;
}

.ra4btn {
  background: #a564d9;
  color: #ffffff;
}

.ra4btn:hover {
  background: #b585dc;
  color: #0e0e0e;
}

